
<form role="form" #myForm="ngForm" accept-charset="UTF-8" novalidate>
  <div class="form-group has-feedback"
       [ngClass]="{ 'has-error': myckeditor.invalid && myckeditor.touched }">
    <ckeditor [(ngModel)]="mycontent"
              #myckeditor="ngModel"
              name="myckeditor"
              required
              [config]="ckeConfig"
              debounce="500"
              (paste)="onPaste($event)"
              (change)="onChange($event)">
      <ckbutton [name]="'imageExplorer'"
                [command]="'openImageExplorer'"
                (click)="openImageProcessor($event, ckeditor_full_desc)"
                [icon]="'https://upload.wikimedia.org/wikipedia/commons/f/fb/Health_topic_image.png'"
                [label]="'Open upload image component'"
                [toolbar]="'insert,1'">
      </ckbutton>
    </ckeditor>
    <div *ngIf="myckeditor.invalid && myckeditor.touched" class="help-block">Required field.</div>
  </div>
  <button [disabled]="myForm.invalid" class="btn btn-primary">Save</button>
</form>
